.parallax-container {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    margin: auto;
    z-index: 1;
}

.image-container {
    display: flex;
    position: fixed;
    top: -70%;
    left: 0;
    width: 200%; /* El contenedor debe tener el doble del ancho de la ventana */
}

.image-container.animate {
    animation: scroll infinite linear;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}