.parallax-container {
    position: absolute;
    top: 50%;
    left: 0;
    margin: auto;
    z-index: 1;
}
.image {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-20%);
    transition: transform 4s linear;
}

.image.animate {
    transform: translateX(-100vw);
}